.vs
.vscode
.idea
.dockerignore
.editorconfig
.env.example
.git
.gitignore
.gitlab
.gitlab-ci.yml
.prettierignore
.prettierrc
dist
build
tmp
node_modules
Development.Dockerfile
Production.Dockerfile
README.md
