{
	"root": true, // Let eslint picks up the config at the root of the directory
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "simple-import-sort"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module", // allows using import/export statements
		"ecmaFeatures": {
			"jsx": true // enable JSX since we are using React
		}
	},
	"settings": {
		"react": {
			"version": "latest"
		}
	},
	"env": {
		"browser": true, // enables browser globals like window and document
		"node": true, // enables Node.js global variables and Node.js scoping.
		"jest": true // enables unit-testing
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended", // react hooks
		"plugin:jsx-a11y/recommended", // automatically surface any accessibility issues as they pop up
		"plugin:prettier/recommended" // make this the last element so prettier config overrides other formatting rules
	],
	"rules": {
		"prettier/prettier": "error",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-var-requires": "off",
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off", // React 17 - [NOTE]
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error"
	}
}
