# npm & yarn
/yarn.lock
e2e/yarn.lock
package-lock.json

# dependencies
node_modules/

# production
build/

# testing
coverage/
e2e/.env
e2e/cypress.env.json
e2e/cypress/screenshots
e2e/cypress/videos

# cache
.eslintcache
.cache

# misc
.DS_Store
.pnp*
.idea
.vscode