.rc-e404 {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	h1 {
		border-right: 1px solid var(--c3);
		margin: 0 15px 0 0;
		padding-right: 15px;
	}

	p {
		margin: 0;
	}
}
